@theme {
  --color-primary: #4caf4f;
  --color-primary-shade-s2: #388e3b;
  --color-primary-shade-s5: #103e13;
  --color-primary-tint-t4: #c8e6c9;
  --color-primary-tint-t5: #e8f5e9;
  --color-secondary: #263238;
  --color-text-heading: #171d16;
  --color-text-primary: #18191f;
  --color-text-strong: #4d4d4d;
  --color-text-muted: #717171;
  --color-text-subtle: #89939e;
  --color-surface: #ffffff;
  --color-surface-alt: #f5f7fa;
  --color-border-subtle: #d9dbe1;
  --color-border-muted: #becab8;
  --color-blog-card-panel: #eaf0e4;
  --color-blog-card-heading: #3f4a3c;
  --color-blog-card-link: #006e1b;
  --font-headline-1: "Inter";
  --font-headline-2: "Inter";
  --font-headline-3: "Inter";
  --font-headline-4: "Inter";
  --font-body-md: "Inter";
  --font-body-md-medium: "Inter";
  --font-body-sm: "Inter";
  --font-label-sm: "Inter";
  --text-headline-1: 64px;
  --text-headline-2: 36px;
  --text-headline-3: 28px;
  --text-headline-4: 20px;
  --text-body-md: 16px;
  --text-body-md-medium: 16px;
  --text-body-sm: 14px;
  --text-label-sm: 14px;
  --leading-headline-1: 76px;
  --leading-headline-2: 44px;
  --leading-headline-3: 36px;
  --leading-headline-4: 28px;
  --leading-body-md: 24px;
  --leading-body-md-medium: 24px;
  --leading-body-sm: 20px;
  --leading-label-sm: 20px;
  --tracking-headline-1: 0px;
  --tracking-headline-2: 0px;
  --tracking-headline-3: 0px;
  --tracking-headline-4: 0px;
  --tracking-body-md: 0px;
  --tracking-body-md-medium: 0px;
  --tracking-body-sm: 0px;
  --tracking-label-sm: 0px;
  --font-weight-headline-1: 600;
  --font-weight-headline-2: 600;
  --font-weight-headline-3: 700;
  --font-weight-headline-4: 600;
  --font-weight-body-md: 400;
  --font-weight-body-md-medium: 500;
  --font-weight-body-sm: 400;
  --font-weight-label-sm: 500;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-full: 9999px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xl-2: 40px;
  --spacing-xl-3: 48px;
  --spacing-xl-4: 64px;
  --spacing-section-y: 84px;
  --spacing-container: 1110px;
  --spacing-page-margin: 144px;
  --spacing-gutter: 24px;
}
